In [2]:
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
#from statsmodels.tsa.seasonal import seasonal_decompose
from sklearn.linear_model import LinearRegression
#from statsmodels.tsa.tsatools import detrend
from pandas import DataFrame, Series
import matplotlib.pylab as plt
#import seaborn as sns
import pandas as pd
import numpy as np
import datetime
import os
import io

%matplotlib inline
np.set_printoptions(precision=3 , suppress= True)

In [44]:
#initial parameters - name and path
station_names = ['acom', 'barc', 'brse', 'cafv', 'canv', 
                 'citt', 'kope', 'koe2', 'mogg', 'mpra', 
                 'odez', 'pord', 'port', 'rovr', 'sapp',
                 'tarv', 'trie', 'trvs'
                ]
folder_path = '/home/rafaela/internship/time_series/Time-Series-Analysis/Cansiglio Plateau + Classical Karst/'

In [84]:
def import_station_data(station_name, folder_path, file_format='txt'):
    
    #joining the folder path with the name of the station to get all the wanted ones
    file_path = os.path.join(folder_path, f'{station_name}.{file_format}')
    
    #selecting the name of the columns that will be used to do the analysis
    columns_name = ['YYMMMDD', '__east(m)']
    
    #checking the file format and sending an error message if the format doesn't match
    if file_format == 'txt':
        station_data = pd.read_csv(file_path, usecols=columns_name, delimiter='\s+')
    else:
        raise ValueError (f'{file_format}: unsupported file format.')
    
    
    try:
        #initial setting as datetime format, index, column names and time period
        station_data['YYMMMDD'] = pd.to_datetime(station_data['YYMMMDD'], format='%y%b%d', errors='coerce')
        station_data.set_index('YYMMMDD', inplace = True)
        station_data = station_data.rename(columns={'__east(m)':f'{station_name}_east(m)'})
        station_data = station_data.loc['2011-01-15':'2018-07-15']
        
    except ValueError as e:
        print(f"Erro to import {station_name}: {e}")
        station_data = None
    
    return station_data

#dictionaries to store the data
station_data_dict = {}

#calling the function
for station_name in station_names:
    station_data = import_station_data(station_name, folder_path, file_format='txt')
    station_data_dict[station_name] = station_data

#printing dataframe
#stations
for station_name, station_data in station_data_dict.items():
    #print(f'{station_name.upper()}:\n{station_data}\n')
    print(station_data_dict)

{'acom':             acom_east(m)
YYMMMDD
2011-01-15      0.808130
2011-01-16      0.808262
2011-01-17      0.806723
2011-01-18      0.806866
2011-01-19      0.807964
...                  ...
2018-07-11      0.965803
2018-07-12      0.967535
2018-07-13      0.967369
2018-07-14      0.966661
2018-07-15      0.966177

[2680 rows x 1 columns], 'barc':             barc_east(m)
YYMMMDD
2011-01-15     -0.185527
2011-01-16     -0.185496
2011-01-17     -0.186973
2011-01-18     -0.185291
2011-01-19     -0.184679
...                  ...
2012-06-26     -0.160704
2012-06-27     -0.159194
2012-06-28     -0.158764
2012-06-29     -0.159055
2012-06-30     -0.159056

[522 rows x 1 columns], 'brse':             brse_east(m)
YYMMMDD
2011-01-15     -0.590748
2011-01-16     -0.590841
2011-01-17     -0.592690
2011-01-18     -0.592770
2011-01-19     -0.590746
...                  ...
2018-07-11     -0.438925
2018-07-12     -0.437142
2018-07-13     -0.438114
2018-07-14     -0.439656
2018-07-15     -0.439180

[2575 rows x 1 columns], 'cafv':             cafv_east(m)
YYMMMDD
2011-03-03      0.265158
2011-03-04      0.264473
2011-03-05      0.263649
2011-03-06      0.264599
2011-03-07      0.265411
...                  ...
2018-07-11      0.414755
2018-07-12      0.414348
2018-07-13      0.416747
2018-07-14      0.413928
2018-07-15      0.417889

[2294 rows x 1 columns], 'canv':             canv_east(m)
YYMMMDD
2011-01-15      0.511474
2011-01-16      0.512056
2011-01-17      0.509941
2011-01-18      0.510445
2011-01-19      0.510449
...                  ...
2018-07-11      0.654737
2018-07-12      0.656873
2018-07-13      0.656140
2018-07-14      0.655291
2018-07-15      0.655690

[2593 rows x 1 columns], 'citt':             citt_east(m)
YYMMMDD
2011-01-16     -0.077985
2011-01-17     -0.079634
2011-01-18     -0.079274
2011-01-19     -0.077785
2011-01-20     -0.079280
...                  ...
2018-07-05      0.082126
2018-07-06      0.082658
2018-07-10      0.084429
2018-07-11      0.083126
2018-07-12      0.083492

[2061 rows x 1 columns], 'kope':             kope_east(m)
YYMMMDD
2011-01-15      0.689561
2011-01-16      0.690957
2011-01-17      0.689411
2011-01-18      0.690189
2011-01-19      0.691691
...                  ...
2018-07-11      0.879316
2018-07-12      0.879798
2018-07-13      0.882255
2018-07-14      0.881320
2018-07-15      0.880847

[2541 rows x 1 columns], 'koe2':             koe2_east(m)
YYMMMDD
2011-01-15      0.567426
2011-01-16      0.566281
2011-01-17      0.564457
2011-01-18      0.565295
2011-01-19      0.567116
...                  ...
2016-10-02      0.684718
2016-10-03      0.684435
2016-10-04      0.684108
2016-10-05      0.684364
2016-10-06      0.683895

[2091 rows x 1 columns], 'mogg':             mogg_east(m)
YYMMMDD
2011-01-15     -0.791088
2011-01-16     -0.789750
2011-01-17     -0.791311
2011-01-18     -0.791146
2011-01-19     -0.789792
...                  ...
2012-06-26     -0.761659
2012-06-27     -0.761938
2012-06-28     -0.760480
2012-06-29     -0.760138
2012-06-30     -0.760629

[523 rows x 1 columns], 'mpra':             mpra_east(m)
YYMMMDD
2011-01-15      0.126120
2011-01-16      0.126736
2011-01-17      0.125353
2011-01-18      0.125557
2011-01-19      0.126959
...                  ...
2018-07-11      0.279312
2018-07-12      0.280467
2018-07-13      0.281665
2018-07-14      0.282317
2018-07-15      0.281199

[2667 rows x 1 columns], 'odez':             odez_east(m)
YYMMMDD
2011-03-03     -0.423405
2011-03-04     -0.424593
2011-03-05     -0.424607
2011-03-06     -0.424189
2011-03-07     -0.422235
...                  ...
2018-07-11     -0.272176
2018-07-12     -0.272684
2018-07-13     -0.271860
2018-07-14     -0.271710
2018-07-15     -0.272570

[2502 rows x 1 columns], 'pord':             pord_east(m)
YYMMMDD
2011-01-15     -0.426474
2011-01-16     -0.426743
2011-01-17     -0.428277
2011-01-18     -0.427432
2011-01-19     -0.425891
...                  ...
2018-07-11     -0.272596
2018-07-12     -0.271376
2018-07-13     -0.272706
2018-07-14     -0.271336
2018-07-15     -0.271645

[2709 rows x 1 columns], 'port':             port_east(m)
YYMMMDD
2011-01-15      0.158195
2011-01-16      0.160081
2011-01-17      0.157168
2011-01-18      0.158048
2011-01-19      0.159577
...                  ...
2017-10-24      0.302240
2017-10-25      0.303114
2017-10-26      0.302632
2017-10-27      0.302781
2017-10-28      0.302574

[2325 rows x 1 columns], 'rovr':             rovr_east(m)
YYMMMDD
2011-01-15     -0.242591
2011-01-16     -0.241759
2011-01-17     -0.243946
2011-01-18     -0.242945
2011-01-19     -0.241445
...                  ...
2018-01-27     -0.099935
2018-01-28     -0.099587
2018-01-29     -0.099971
2018-01-30     -0.100924
2018-01-31     -0.100274

[2337 rows x 1 columns], 'sapp':             sapp_east(m)
YYMMMDD
2011-01-17     -0.962007
2011-01-18     -0.961984
2011-01-19     -0.960740
2011-01-20     -0.962324
2011-01-21     -0.962956
...                  ...
2018-07-06     -0.808119
2018-07-09     -0.805337
2018-07-10     -0.804876
2018-07-11     -0.805339
2018-07-12     -0.805123

[2466 rows x 1 columns], 'tarv':             tarv_east(m)
YYMMMDD
2011-01-15     -0.099592
2011-01-16     -0.099132
2011-01-17     -0.100807
2011-01-18     -0.100880
2011-01-19     -0.099347
...                  ...
2012-06-26     -0.071745
2012-06-27     -0.071424
2012-06-28     -0.068432
2012-06-29     -0.069549
2012-06-30     -0.067320

[519 rows x 1 columns], 'trie':             trie_east(m)
YYMMMDD
2011-01-15     -0.468270
2011-01-16     -0.468008
2011-01-17     -0.470291
2011-01-18     -0.468805
2011-01-19     -0.467608
...                  ...
2018-07-11     -0.311754
2018-07-12     -0.309847
2018-07-13     -0.309565
2018-07-14     -0.309624
2018-07-15     -0.309652

[2665 rows x 1 columns], 'trvs':             trvs_east(m)
YYMMMDD
2011-01-15      0.739852
2011-01-16      0.740157
2011-01-17      0.738094
2011-01-18      0.738742
2011-01-19      0.740338
...                  ...
2018-07-03      0.897748
2018-07-04      0.894537
2018-07-06      0.896146
2018-07-11      0.896787
2018-07-12      0.896241

[2153 rows x 1 columns]}
{'acom':             acom_east(m)
YYMMMDD
2011-01-15      0.808130
2011-01-16      0.808262
2011-01-17      0.806723
2011-01-18      0.806866
2011-01-19      0.807964
...                  ...
2018-07-11      0.965803
2018-07-12      0.967535
2018-07-13      0.967369
2018-07-14      0.966661
2018-07-15      0.966177

[2680 rows x 1 columns], 'barc':             barc_east(m)
YYMMMDD
2011-01-15     -0.185527
2011-01-16     -0.185496
2011-01-17     -0.186973
2011-01-18     -0.185291
2011-01-19     -0.184679
...                  ...
2012-06-26     -0.160704
2012-06-27     -0.159194
2012-06-28     -0.158764
2012-06-29     -0.159055
2012-06-30     -0.159056

[522 rows x 1 columns], 'brse':             brse_east(m)
YYMMMDD
2011-01-15     -0.590748
2011-01-16     -0.590841
2011-01-17     -0.592690
2011-01-18     -0.592770
2011-01-19     -0.590746
...                  ...
2018-07-11     -0.438925
2018-07-12     -0.437142
2018-07-13     -0.438114
2018-07-14     -0.439656
2018-07-15     -0.439180

[2575 rows x 1 columns], 'cafv':             cafv_east(m)
YYMMMDD
2011-03-03      0.265158
2011-03-04      0.264473
2011-03-05      0.263649
2011-03-06      0.264599
2011-03-07      0.265411
...                  ...
2018-07-11      0.414755
2018-07-12      0.414348
2018-07-13      0.416747
2018-07-14      0.413928
2018-07-15      0.417889

[2294 rows x 1 columns], 'canv':             canv_east(m)
YYMMMDD
2011-01-15      0.511474
2011-01-16      0.512056
2011-01-17      0.509941
2011-01-18      0.510445
2011-01-19      0.510449
...                  ...
2018-07-11      0.654737
2018-07-12      0.656873
2018-07-13      0.656140
2018-07-14      0.655291
2018-07-15      0.655690

[2593 rows x 1 columns], 'citt':             citt_east(m)
YYMMMDD
2011-01-16     -0.077985
2011-01-17     -0.079634
2011-01-18     -0.079274
2011-01-19     -0.077785
2011-01-20     -0.079280
...                  ...
2018-07-05      0.082126
2018-07-06      0.082658
2018-07-10      0.084429
2018-07-11      0.083126
2018-07-12      0.083492

[2061 rows x 1 columns], 'kope':             kope_east(m)
YYMMMDD
2011-01-15      0.689561
2011-01-16      0.690957
2011-01-17      0.689411
2011-01-18      0.690189
2011-01-19      0.691691
...                  ...
2018-07-11      0.879316
2018-07-12      0.879798
2018-07-13      0.882255
2018-07-14      0.881320
2018-07-15      0.880847

[2541 rows x 1 columns], 'koe2':             koe2_east(m)
YYMMMDD
2011-01-15      0.567426
2011-01-16      0.566281
2011-01-17      0.564457
2011-01-18      0.565295
2011-01-19      0.567116
...                  ...
2016-10-02      0.684718
2016-10-03      0.684435
2016-10-04      0.684108
2016-10-05      0.684364
2016-10-06      0.683895

[2091 rows x 1 columns], 'mogg':             mogg_east(m)
YYMMMDD
2011-01-15     -0.791088
2011-01-16     -0.789750
2011-01-17     -0.791311
2011-01-18     -0.791146
2011-01-19     -0.789792
...                  ...
2012-06-26     -0.761659
2012-06-27     -0.761938
2012-06-28     -0.760480
2012-06-29     -0.760138
2012-06-30     -0.760629

[523 rows x 1 columns], 'mpra':             mpra_east(m)
YYMMMDD
2011-01-15      0.126120
2011-01-16      0.126736
2011-01-17      0.125353
2011-01-18      0.125557
2011-01-19      0.126959
...                  ...
2018-07-11      0.279312
2018-07-12      0.280467
2018-07-13      0.281665
2018-07-14      0.282317
2018-07-15      0.281199

[2667 rows x 1 columns], 'odez':             odez_east(m)
YYMMMDD
2011-03-03     -0.423405
2011-03-04     -0.424593
2011-03-05     -0.424607
2011-03-06     -0.424189
2011-03-07     -0.422235
...                  ...
2018-07-11     -0.272176
2018-07-12     -0.272684
2018-07-13     -0.271860
2018-07-14     -0.271710
2018-07-15     -0.272570

[2502 rows x 1 columns], 'pord':             pord_east(m)
YYMMMDD
2011-01-15     -0.426474
2011-01-16     -0.426743
2011-01-17     -0.428277
2011-01-18     -0.427432
2011-01-19     -0.425891
...                  ...
2018-07-11     -0.272596
2018-07-12     -0.271376
2018-07-13     -0.272706
2018-07-14     -0.271336
2018-07-15     -0.271645

[2709 rows x 1 columns], 'port':             port_east(m)
YYMMMDD
2011-01-15      0.158195
2011-01-16      0.160081
2011-01-17      0.157168
2011-01-18      0.158048
2011-01-19      0.159577
...                  ...
2017-10-24      0.302240
2017-10-25      0.303114
2017-10-26      0.302632
2017-10-27      0.302781
2017-10-28      0.302574

[2325 rows x 1 columns], 'rovr':             rovr_east(m)
YYMMMDD
2011-01-15     -0.242591
2011-01-16     -0.241759
2011-01-17     -0.243946
2011-01-18     -0.242945
2011-01-19     -0.241445
...                  ...
2018-01-27     -0.099935
2018-01-28     -0.099587
2018-01-29     -0.099971
2018-01-30     -0.100924
2018-01-31     -0.100274

[2337 rows x 1 columns], 'sapp':             sapp_east(m)
YYMMMDD
2011-01-17     -0.962007
2011-01-18     -0.961984
2011-01-19     -0.960740
2011-01-20     -0.962324
2011-01-21     -0.962956
...                  ...
2018-07-06     -0.808119
2018-07-09     -0.805337
2018-07-10     -0.804876
2018-07-11     -0.805339
2018-07-12     -0.805123

[2466 rows x 1 columns], 'tarv':             tarv_east(m)
YYMMMDD
2011-01-15     -0.099592
2011-01-16     -0.099132
2011-01-17     -0.100807
2011-01-18     -0.100880
2011-01-19     -0.099347
...                  ...
2012-06-26     -0.071745
2012-06-27     -0.071424
2012-06-28     -0.068432
2012-06-29     -0.069549
2012-06-30     -0.067320

[519 rows x 1 columns], 'trie':             trie_east(m)
YYMMMDD
2011-01-15     -0.468270
2011-01-16     -0.468008
2011-01-17     -0.470291
2011-01-18     -0.468805
2011-01-19     -0.467608
...                  ...
2018-07-11     -0.311754
2018-07-12     -0.309847
2018-07-13     -0.309565
2018-07-14     -0.309624
2018-07-15     -0.309652

[2665 rows x 1 columns], 'trvs':             trvs_east(m)
YYMMMDD
2011-01-15      0.739852
2011-01-16      0.740157
2011-01-17      0.738094
2011-01-18      0.738742
2011-01-19      0.740338
...                  ...
2018-07-03      0.897748
2018-07-04      0.894537
2018-07-06      0.896146
2018-07-11      0.896787
2018-07-12      0.896241

[2153 rows x 1 columns]}
{'acom':             acom_east(m)
YYMMMDD
2011-01-15      0.808130
2011-01-16      0.808262
2011-01-17      0.806723
2011-01-18      0.806866
2011-01-19      0.807964
...                  ...
2018-07-11      0.965803
2018-07-12      0.967535
2018-07-13      0.967369
2018-07-14      0.966661
2018-07-15      0.966177

[2680 rows x 1 columns], 'barc':             barc_east(m)
YYMMMDD
2011-01-15     -0.185527
2011-01-16     -0.185496
2011-01-17     -0.186973
2011-01-18     -0.185291
2011-01-19     -0.184679
...                  ...
2012-06-26     -0.160704
2012-06-27     -0.159194
2012-06-28     -0.158764
2012-06-29     -0.159055
2012-06-30     -0.159056

[522 rows x 1 columns], 'brse':             brse_east(m)
YYMMMDD
2011-01-15     -0.590748
2011-01-16     -0.590841
2011-01-17     -0.592690
2011-01-18     -0.592770
2011-01-19     -0.590746
...                  ...
2018-07-11     -0.438925
2018-07-12     -0.437142
2018-07-13     -0.438114
2018-07-14     -0.439656
2018-07-15     -0.439180

[2575 rows x 1 columns], 'cafv':             cafv_east(m)
YYMMMDD
2011-03-03      0.265158
2011-03-04      0.264473
2011-03-05      0.263649
2011-03-06      0.264599
2011-03-07      0.265411
...                  ...
2018-07-11      0.414755
2018-07-12      0.414348
2018-07-13      0.416747
2018-07-14      0.413928
2018-07-15      0.417889

[2294 rows x 1 columns], 'canv':             canv_east(m)
YYMMMDD
2011-01-15      0.511474
2011-01-16      0.512056
2011-01-17      0.509941
2011-01-18      0.510445
2011-01-19      0.510449
...                  ...
2018-07-11      0.654737
2018-07-12      0.656873
2018-07-13      0.656140
2018-07-14      0.655291
2018-07-15      0.655690

[2593 rows x 1 columns], 'citt':             citt_east(m)
YYMMMDD
2011-01-16     -0.077985
2011-01-17     -0.079634
2011-01-18     -0.079274
2011-01-19     -0.077785
2011-01-20     -0.079280
...                  ...
2018-07-05      0.082126
2018-07-06      0.082658
2018-07-10      0.084429
2018-07-11      0.083126
2018-07-12      0.083492

[2061 rows x 1 columns], 'kope':             kope_east(m)
YYMMMDD
2011-01-15      0.689561
2011-01-16      0.690957
2011-01-17      0.689411
2011-01-18      0.690189
2011-01-19      0.691691
...                  ...
2018-07-11      0.879316
2018-07-12      0.879798
2018-07-13      0.882255
2018-07-14      0.881320
2018-07-15      0.880847

[2541 rows x 1 columns], 'koe2':             koe2_east(m)
YYMMMDD
2011-01-15      0.567426
2011-01-16      0.566281
2011-01-17      0.564457
2011-01-18      0.565295
2011-01-19      0.567116
...                  ...
2016-10-02      0.684718
2016-10-03      0.684435
2016-10-04      0.684108
2016-10-05      0.684364
2016-10-06      0.683895

[2091 rows x 1 columns], 'mogg':             mogg_east(m)
YYMMMDD
2011-01-15     -0.791088
2011-01-16     -0.789750
2011-01-17     -0.791311
2011-01-18     -0.791146
2011-01-19     -0.789792
...                  ...
2012-06-26     -0.761659
2012-06-27     -0.761938
2012-06-28     -0.760480
2012-06-29     -0.760138
2012-06-30     -0.760629

[523 rows x 1 columns], 'mpra':             mpra_east(m)
YYMMMDD
2011-01-15      0.126120
2011-01-16      0.126736
2011-01-17      0.125353
2011-01-18      0.125557
2011-01-19      0.126959
...                  ...
2018-07-11      0.279312
2018-07-12      0.280467
2018-07-13      0.281665
2018-07-14      0.282317
2018-07-15      0.281199

[2667 rows x 1 columns], 'odez':             odez_east(m)
YYMMMDD
2011-03-03     -0.423405
2011-03-04     -0.424593
2011-03-05     -0.424607
2011-03-06     -0.424189
2011-03-07     -0.422235
...                  ...
2018-07-11     -0.272176
2018-07-12     -0.272684
2018-07-13     -0.271860
2018-07-14     -0.271710
2018-07-15     -0.272570

[2502 rows x 1 columns], 'pord':             pord_east(m)
YYMMMDD
2011-01-15     -0.426474
2011-01-16     -0.426743
2011-01-17     -0.428277
2011-01-18     -0.427432
2011-01-19     -0.425891
...                  ...
2018-07-11     -0.272596
2018-07-12     -0.271376
2018-07-13     -0.272706
2018-07-14     -0.271336
2018-07-15     -0.271645

[2709 rows x 1 columns], 'port':             port_east(m)
YYMMMDD
2011-01-15      0.158195
2011-01-16      0.160081
2011-01-17      0.157168
2011-01-18      0.158048
2011-01-19      0.159577
...                  ...
2017-10-24      0.302240
2017-10-25      0.303114
2017-10-26      0.302632
2017-10-27      0.302781
2017-10-28      0.302574

[2325 rows x 1 columns], 'rovr':             rovr_east(m)
YYMMMDD
2011-01-15     -0.242591
2011-01-16     -0.241759
2011-01-17     -0.243946
2011-01-18     -0.242945
2011-01-19     -0.241445
...                  ...
2018-01-27     -0.099935
2018-01-28     -0.099587
2018-01-29     -0.099971
2018-01-30     -0.100924
2018-01-31     -0.100274

[2337 rows x 1 columns], 'sapp':             sapp_east(m)
YYMMMDD
2011-01-17     -0.962007
2011-01-18     -0.961984
2011-01-19     -0.960740
2011-01-20     -0.962324
2011-01-21     -0.962956
...                  ...
2018-07-06     -0.808119
2018-07-09     -0.805337
2018-07-10     -0.804876
2018-07-11     -0.805339
2018-07-12     -0.805123

[2466 rows x 1 columns], 'tarv':             tarv_east(m)
YYMMMDD
2011-01-15     -0.099592
2011-01-16     -0.099132
2011-01-17     -0.100807
2011-01-18     -0.100880
2011-01-19     -0.099347
...                  ...
2012-06-26     -0.071745
2012-06-27     -0.071424
2012-06-28     -0.068432
2012-06-29     -0.069549
2012-06-30     -0.067320

[519 rows x 1 columns], 'trie':             trie_east(m)
YYMMMDD
2011-01-15     -0.468270
2011-01-16     -0.468008
2011-01-17     -0.470291
2011-01-18     -0.468805
2011-01-19     -0.467608
...                  ...
2018-07-11     -0.311754
2018-07-12     -0.309847
2018-07-13     -0.309565
2018-07-14     -0.309624
2018-07-15     -0.309652

[2665 rows x 1 columns], 'trvs':             trvs_east(m)
YYMMMDD
2011-01-15      0.739852
2011-01-16      0.740157
2011-01-17      0.738094
2011-01-18      0.738742
2011-01-19      0.740338
...                  ...
2018-07-03      0.897748
2018-07-04      0.894537
2018-07-06      0.896146
2018-07-11      0.896787
2018-07-12      0.896241

[2153 rows x 1 columns]}
{'acom':             acom_east(m)
YYMMMDD
2011-01-15      0.808130
2011-01-16      0.808262
2011-01-17      0.806723
2011-01-18      0.806866
2011-01-19      0.807964
...                  ...
2018-07-11      0.965803
2018-07-12      0.967535
2018-07-13      0.967369
2018-07-14      0.966661
2018-07-15      0.966177

[2680 rows x 1 columns], 'barc':             barc_east(m)
YYMMMDD
2011-01-15     -0.185527
2011-01-16     -0.185496
2011-01-17     -0.186973
2011-01-18     -0.185291
2011-01-19     -0.184679
...                  ...
2012-06-26     -0.160704
2012-06-27     -0.159194
2012-06-28     -0.158764
2012-06-29     -0.159055
2012-06-30     -0.159056

[522 rows x 1 columns], 'brse':             brse_east(m)
YYMMMDD
2011-01-15     -0.590748
2011-01-16     -0.590841
2011-01-17     -0.592690
2011-01-18     -0.592770
2011-01-19     -0.590746
...                  ...
2018-07-11     -0.438925
2018-07-12     -0.437142
2018-07-13     -0.438114
2018-07-14     -0.439656
2018-07-15     -0.439180

[2575 rows x 1 columns], 'cafv':             cafv_east(m)
YYMMMDD
2011-03-03      0.265158
2011-03-04      0.264473
2011-03-05      0.263649
2011-03-06      0.264599
2011-03-07      0.265411
...                  ...
2018-07-11      0.414755
2018-07-12      0.414348
2018-07-13      0.416747
2018-07-14      0.413928
2018-07-15      0.417889

[2294 rows x 1 columns], 'canv':             canv_east(m)
YYMMMDD
2011-01-15      0.511474
2011-01-16      0.512056
2011-01-17      0.509941
2011-01-18      0.510445
2011-01-19      0.510449

In [115]:
def linear_detrend(station_data, station_name):
 
    #getting the linear model to substract from the original time series:
    x = np.arange(len(station_data)).reshape(-1, 1)
    y = station_data[f'{station_name}_east(m)'].values.reshape(-1, 1)
    
    linear_model = LinearRegression().fit(x, y)
    regression_line = linear_model.predict(x)
    
    detrended_values = y.flatten() - regression_line.flatten()
    #detrended_values = station_data[f'{station_name}_east(m)'].values - regression_line.flatten()
    
    detrended_dataframe = pd.DataFrame(detrended_values, index=station_data.index, columns=[f'{station_name}_east(m)_detrended'])
    
    return detrended_dataframe


#dictionaries to store the data
detrended_data_dict = {}

#calling the function
for station_name, station_data in station_data_dict.items():
    detrended_dataframe = linear_detrend(station_data, station_name)
    detrended_data_dict[station_name] = detrended_dataframe

#printing dataframe
#stations detrended
for station_name, station_data in detrended_data_dict.items():
    print(f'{station_name.upper()}: \n{station_data}\n')

ACOM:
            acom_east(m)_detrended
YYMMMDD
2011-01-15                0.000785
2011-01-16                0.000858
2011-01-17               -0.000741
2011-01-18               -0.000658
2011-01-19                0.000380
...                            ...
2018-07-11               -0.001644
2018-07-12                0.000028
2018-07-13               -0.000198
2018-07-14               -0.000966
2018-07-15               -0.001510

[2680 rows x 1 columns]

BARC:
            barc_east(m)_detrended
YYMMMDD
2011-01-15                0.001931
2011-01-16                0.001907
2011-01-17                0.000375
2011-01-18                0.002002
2011-01-19                0.002559
...                            ...
2012-06-26               -0.001661
2012-06-27               -0.000206
2012-06-28                0.000169
2012-06-29               -0.000177
2012-06-30               -0.000233

[522 rows x 1 columns]

BRSE:
            brse_east(m)_detrended
YYMMMDD
2011-01-15               -0.000836
2011-01-16               -0.000989
2011-01-17               -0.002897
2011-01-18               -0.003036
2011-01-19               -0.001072
...                            ...
2018-07-11               -0.001651
2018-07-12                0.000072
2018-07-13               -0.000959
2018-07-14               -0.002561
2018-07-15               -0.002144

[2575 rows x 1 columns]

CAFV:
            cafv_east(m)_detrended
YYMMMDD
2011-03-03                0.000991
2011-03-04                0.000239
2011-03-05               -0.000652
2011-03-06                0.000230
2011-03-07                0.000975
...                            ...
2018-07-11               -0.003231
2018-07-12               -0.003705
2018-07-13               -0.001373
2018-07-14               -0.004260
2018-07-15               -0.000366

[2294 rows x 1 columns]

CANV:
            canv_east(m)_detrended
YYMMMDD
2011-01-15                0.008581
2011-01-16                0.009105
2011-01-17                0.006932
2011-01-18                0.007379
2011-01-19                0.007325
...                            ...
2018-07-11                0.002776
2018-07-12                0.004854
2018-07-13                0.004064
2018-07-14                0.003157
2018-07-15                0.003499

[2593 rows x 1 columns]

CITT:
            citt_east(m)_detrended
YYMMMDD
2011-01-16                0.000186
2011-01-17               -0.001539
2011-01-18               -0.001255
2011-01-19                0.000158
2011-01-20               -0.001413
...                            ...
2018-07-05                0.004342
2018-07-06                0.004799
2018-07-10                0.006494
2018-07-11                0.005115
2018-07-12                0.005405

[2061 rows x 1 columns]

KOPE:
            kope_east(m)_detrended
YYMMMDD
2011-01-15               -0.006368
2011-01-16               -0.005048
2011-01-17               -0.006669
2011-01-18               -0.005967
2011-01-19               -0.004541
...                            ...
2018-07-11               -0.008671
2018-07-12               -0.008265
2018-07-13               -0.005883
2018-07-14               -0.006894
2018-07-15               -0.007443

[2541 rows x 1 columns]

KOE2:
            koe2_east(m)_detrended
YYMMMDD
2011-01-15                0.004412
2011-01-16                0.003209
2011-01-17                0.001326
2011-01-18                0.002105
2011-01-19                0.003868
...                            ...
2016-10-02               -0.000686
2016-10-03               -0.001027
2016-10-04               -0.001413
2016-10-05               -0.001216
2016-10-06               -0.001743

[2091 rows x 1 columns]

MOGG:
            mogg_east(m)_detrended
YYMMMDD
2011-01-15                0.000059
2011-01-16                0.001337
2011-01-17               -0.000284
2011-01-18               -0.000179
2011-01-19                0.001115
...                            ...
2012-06-26               -0.001537
2012-06-27               -0.001876
2012-06-28               -0.000478
2012-06-29               -0.000196
2012-06-30               -0.000747

[523 rows x 1 columns]

MPRA:
            mpra_east(m)_detrended
YYMMMDD
2011-01-15                0.000175
2011-01-16                0.000732
2011-01-17               -0.000709
2011-01-18               -0.000563
2011-01-19                0.000781
...                            ...
2018-07-11               -0.001729
2018-07-12               -0.000632
2018-07-13                0.000508
2018-07-14                0.001101
2018-07-15               -0.000075

[2667 rows x 1 columns]

ODEZ:
            odez_east(m)_detrended
YYMMMDD
2011-03-03                0.000111
2011-03-04               -0.001137
2011-03-05               -0.001211
2011-03-06               -0.000853
2011-03-07                0.001041
...                            ...
2018-07-11                0.001164
2018-07-12                0.000596
2018-07-13                0.001359
2018-07-14                0.001449
2018-07-15                0.000529

[2502 rows x 1 columns]

PORD:
            pord_east(m)_detrended
YYMMMDD
2011-01-15                0.000907
2011-01-16                0.000580
2011-01-17               -0.001012
2011-01-18               -0.000225
2011-01-19                0.001258
...                            ...
2018-07-11               -0.002078
2018-07-12               -0.000916
2018-07-13               -0.002304
2018-07-14               -0.000992
2018-07-15               -0.001359

[2709 rows x 1 columns]

PORT:
            port_east(m)_detrended
YYMMMDD
2011-01-15               -0.001420
2011-01-16                0.000405
2011-01-17               -0.002570
2011-01-18               -0.001751
2011-01-19               -0.000283
...                            ...
2017-10-24                0.000087
2017-10-25                0.000900
2017-10-26                0.000357
2017-10-27                0.000444
2017-10-28                0.000176

[2325 rows x 1 columns]

ROVR:
            rovr_east(m)_detrended
YYMMMDD
2011-01-15                0.005983
2011-01-16                0.006751
2011-01-17                0.004500
2011-01-18                0.005437
2011-01-19                0.006873
...                            ...
2018-01-27               -0.001044
2018-01-28               -0.000760
2018-01-29               -0.001208
2018-01-30               -0.002225
2018-01-31               -0.001639

[2337 rows x 1 columns]

SAPP:
            sapp_east(m)_detrended
YYMMMDD
2011-01-17                0.000032
2011-01-18               -0.000007
2011-01-19                0.001175
2011-01-20               -0.000470
2011-01-21               -0.001164
...                            ...
2018-07-06                0.001664
2018-07-09                0.004384
2018-07-10                0.004783
2018-07-11                0.004258
2018-07-12                0.004412

[2466 rows x 1 columns]

TARV:
            tarv_east(m)_detrended
YYMMMDD
2011-01-15                0.001055
2011-01-16                0.001454
2011-01-17               -0.000281
2011-01-18               -0.000415
2011-01-19                0.001058
...                            ...
2012-06-26               -0.002237
2012-06-27               -0.001976
2012-06-28                0.000955
2012-06-29               -0.000222
2012-06-30                0.001946

[519 rows x 1 columns]

TRIE:
            trie_east(m)_detrended
YYMMMDD
2011-01-15               -0.000917
2011-01-16               -0.000714
2011-01-17               -0.003057
2011-01-18               -0.001631
2011-01-19               -0.000493
...                            ...
2018-07-11               -0.003144
2018-07-12               -0.001297
2018-07-13               -0.001074
2018-07-14               -0.001193
2018-07-15               -0.001281

[2665 rows x 1 columns]

TRVS:
            trvs_east(m)_detrended
YYMMMDD
2011-01-15                0.001523
2011-01-16                0.001752
2011-01-17               -0.000386
2011-01-18                0.000187
2011-01-19                0.001707
...                            ...
2018-07-03               -0.002319
2018-07-04               -0.005605
2018-07-06               -0.004072
2018-07-11               -0.003506
2018-07-12               -0.004127

[2153 rows x 1 columns]